

//Header
ion-toolbar ion-icon{
    transform: rotate(90deg);
    font-size: xx-large;
}


// Title

.title{
    
}

// Login Form 

ion-list{
    width: 80%;
    margin-left: 10%;
}

form{
    margin-top: 25%;
}

.input{
    margin: auto;
    width: 100%;
}

.olvide{
    text-align: center;
    padding-top: 8%;
}

.button{
    margin: auto;
    width: 80%;
    margin-top: 6%;
}