<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="openCart()">
        {{ cartCount | async }}
        <ion-icon slot="end" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let item of products">
        <ion-item>
          <ion-label>
            <h1>{{item.titulo}}</h1>
            <span>{{item.descripcion | slice: 0:50 }}</span>
            <p>{{item.precio |currency: 'MXN'}}</p>
            <img src="{{item.imagen}}" alt="">
            <ion-buttons slot="start">
              <ion-button color="primary" (click)="addCart(item)">
                Agregar
              </ion-button>
            </ion-buttons>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let product of listaProductos | async ">
        <ion-item >
          <ion-label>
            <h1>{{product.titulo}}</h1>
            <p>{{product.descripcion}}</p>
            <p>{{product.precio}}</p>
            <p>{{product.descuento}}</p>
            <img src="{{product.imagenes[0]}}" alt="">
            <!-- <ion-button 
            (click)="eliminarProducto(product.id, product.titulo)"
            expand="block" shape="round" color="danger">
              Eliminar
            </ion-button> -->
            <ion-buttons slot="end">
              <ion-button color="primary">
                <ion-icon slot="start" name="cart" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-button color="danger" (click)="eliminarProducto(product.id, product.titulo)">
                <ion-icon slot="end" name="trash" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
